export(SODAS.to.RSDA,classic.to.sym,read.sym.table, generate.sym.table, write.sym.table, display.sym.table, sym.var, sym.obj, sym.mean, sym.median, sym.variance, sym.sd, sym.cov, sym.cor, sym.scatterplot, cfa.scatterplot, sym.scatterplot.ggplot, sym.scatterplot3d, sym.lm.bi, sym.lm, predictsym.lm, sym.glm, predictsym.glm, deter.coefficient, RMSE.L, RMSE.U, R2.L, R2.U, sym.interval.pca, sym.circle.plot, interval.dist.tobj, interval.dist, interscal, sym.hclust, sym.kmeans, sym.histogram.pca, sym.mds, sym.cfa)
import(XML)
importFrom(abind,abind)
importFrom(glmnet,cv.glmnet)
import(ggplot2)
import(scales)
importFrom(scatterplot3d,scatterplot3d)
import(sqldf)
import(FactoMineR)