export(sym.row.plot,sym.interval.plot,sym.modal.plot,sym.set.plot,sym.hist.plot,sym.continuos.plot,dist,dist.default,dist.sym.data.table,
       pander.sym.data.table,interval.histogram.plot,sym.radar.plot,sym.dist.set, sym.dist.interval,cor.default,cov.default,sd.default,
       var.default,cov, cor, median.sym.data.table,sd,var,mean.sym.data.table,"[.sym.data.table", print.sym.data.table, sym.interval.pc,
       SDS.to.RSDA,SODAS.to.RSDA,classic.to.sym,read.sym.table, generate.sym.table, write.sym.table, display.sym.table, sym.var, sym.obj,
       sym.scatterplot, cfa.scatterplot, sym.scatterplot.ggplot, sym.scatterplot3d, sym.lm.bi, sym.lm, predictsym.lm, sym.glm, predictsym.glm,
       deter.coefficient, RMSE.L, RMSE.U, R2.L, R2.U, sym.interval.pca, sym.circle.plot, interval.dist.tobj, interval.dist, interscal, sym.hclust,
       sym.kmeans, sym.histogram.pca, sym.mds, sym.cfa,sym.cor,sym.cov,sym.sd,sym.variance,sym.mean,sym.var,sym.median, type.histogram, type.interval, type.set,type.continuous,
       type.modal)
importFrom(FactoMineR,PCA)
importFrom(RJSONIO,fromJSON)
import(XML)
import(nloptr)
import(xtable)
import(RColorBrewer)
import(FactoMineR)
importFrom(abind,abind)
importFrom(glmnet,cv.glmnet)
import(ggplot2)
import(scales)
import(rlang)
importFrom(scatterplot3d,scatterplot3d)
importFrom(sqldf,sqldf)
import(princurve)
import(pander)
import(tidyselect)
import(tibble)
importFrom(purrr,map_dfr,map)
importFrom("stats", "dist")
importFrom(graphics, abline, plot, polygon, rect, symbols,text,hist,segments,barplot)
importFrom(stats, as.dist, cmdscale, cor, cov, hclust,kmeans, lm, median, predict, sd, var)
importFrom(utils, read.table, write.table, head)
importFrom(dplyr,group_by_,do_,mutate,"%>%")
importFrom(tidyr,unnest,unite,spread)
importFrom("graphics", "box", "layout", "mtext", "par")
importFrom("stats", "runif")
importFrom(stringr,str_replace_all)
importFrom(lazyeval,interp)
S3method(print, sym.data.table)
S3method("[","sym.data.table")
S3method(mean,sym.data.table)
S3method(median,sym.data.table)
S3method(cor,sym.data.table)
S3method(cov,sym.data.table)
S3method(sd,sym.data.table)
S3method(var,sym.data.table)
S3method(cor,default)
S3method(cov,default)
S3method(sd,default)
S3method(var,default)
S3method(pander,sym.data.table)
S3method(dist,sym.data.table)
S3method(dist,default)
S3method(plot,sym.data.table)
importFrom("grDevices", "adjustcolor", "rainbow")
importFrom("graphics", "arrows", "legend", "points", "polypath")
